.contain {
  padding: 0 29px;
  overflow: hidden;
  .logo {
    background-image: url('~@/assets/images/logo_index@2x.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 34px;
    // margin-top: 100px;
    width: 200px;
    height: 68px;
    background-position: 0 0;
    z-index: 100;
  }
  .location {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    .place,
    .mark {
      background-color: $primary-color;
    }
    .place {
      width: 150px;
      height: 63px;
      line-height: 63px;
      border-radius: 32px;
      margin-right: 86px;
      padding-right: 27px;
      .location-icon {
        padding: 0px 13px 0px 25px;
        width: 28px;
        height: 34px;
      }
      .location-text {
        font-size: 28px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #ffffff;
      }
    }
    .mark {
      width: 454px;
      height: 44px;
      line-height: 40px;
      border-radius: 22px;
      .careful-icon {
        padding: 0px 14px 0px 21px;
        width: 28px;
        height: 28px;
      }
      .mark-text {
        font-size: 24px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #ffffff;
      }
    }
  }
  .swiper-contain {
    margin-top: 30px;
    height: 291px;
    width: 688px;
    .swiper-box {
      width: 688px;
      height: 291px;
    }
    .swiper-image {
      border-radius: 10px;
    }
  }
  .main-content {
    .list-title {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 36px 0px 31px 0px;
      .line-left,
      .line-right {
        width: 188px;
        height: 1px;
        background: #d8d8d8;
        border-radius: 2px;
      }
      .title-middle {
        width: 112px;
        font-size: 28px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #333333;
        margin: 0px 47px;
      }
    }
    .food-contain {
      text-align: center;
      .food-image {
        width: 333.49px;
        height: 319px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 200.49px;
          height: 209px;
        }
      }
      .food-text {
        width: 333.49px;
        height: 129px;
        background-color: #ffffff;
        position: relative;
        .food-title {
          font-size: 28px;
          font-family: PingFangSC-Semibold, PingFang SC;
          font-weight: 600;
          color: #333333;
          position: absolute;
          left: 19px;
          top: 25px;
        }
        .price {
          font-size: 28px;
          font-family: PingFangSC-Semibold, PingFang SC;
          font-weight: 600;
          color: #cc563a;
          position: absolute;
          left: 21px;
          top: 69px;
        }
        .discount-price {
          font-size: 24px;
          font-family: PingFangSC-Semibold, PingFang SC;
          font-weight: 600;
          color: #8e8e8e;
          text-decoration: line-through;
          position: absolute;
          left: 93px;
          top: 71px;
        }
        .price-contain {
          top: 66px;
          right: 24px;
          display: flex;
          position: absolute;
          .icon-reduce {
            width: 40px;
            height: 40px;
          }
          .icon-add {
            width: 40px;
            height: 40px;
          }
          .food-num {
            font-size: 28px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: #181818;
            margin: 0px 12px;
          }
        }
      }
    }
  }
}
