$footer-height: 133px;
$primary-color: #ea6102;
$font-main-color: #181818;
$border-color: #e6e6e6;
$bg-color: #f8f8f8;

// -> iphone
$break-small: 320px;
$break-media: 375px;
$break-max: 414px;
$break-super: 480px;

$height-small: 667px;
$height-media: 736px;
$height-max: 812px;
